<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glad.dao.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.glad.entity.SysMenu">
    <id column="MENU_PK" jdbcType="INTEGER" property="menuPk" />
    <result column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="MENU_URL" jdbcType="VARCHAR" property="menuUrl" />
    <result column="PARENT_MENU_ID" jdbcType="VARCHAR" property="parentMenuId" />
    <result column="DISPLAY_ORDER" jdbcType="VARCHAR" property="displayOrder" />
    <result column="CREATE_IP" jdbcType="VARCHAR" property="createIp" />
    <result column="UPDATE_IP" jdbcType="VARCHAR" property="updateIp" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu
    where MENU_PK = #{menuPk,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.glad.entity.SysMenu">
    insert into sys_menu (MENU_PK, MENU_ID, MENU_NAME, 
      MENU_URL, PARENT_MENU_ID, DISPLAY_ORDER, 
      CREATE_IP, UPDATE_IP)
    values (#{menuPk,jdbcType=INTEGER}, #{menuId,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{parentMenuId,jdbcType=VARCHAR}, #{displayOrder,jdbcType=VARCHAR}, 
      #{createIp,jdbcType=VARCHAR}, #{updateIp,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.glad.entity.SysMenu">
    update sys_menu
    set MENU_ID = #{menuId,jdbcType=VARCHAR},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=VARCHAR},
      CREATE_IP = #{createIp,jdbcType=VARCHAR},
      UPDATE_IP = #{updateIp,jdbcType=VARCHAR}
    where MENU_PK = #{menuPk,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select MENU_PK, MENU_ID, MENU_NAME, MENU_URL, PARENT_MENU_ID, DISPLAY_ORDER, CREATE_IP, 
    UPDATE_IP
    from sys_menu
    where MENU_PK = #{menuPk,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MENU_PK, MENU_ID, MENU_NAME, MENU_URL, PARENT_MENU_ID, DISPLAY_ORDER, CREATE_IP, 
    UPDATE_IP
    from sys_menu
  </select>
</mapper>