<?xml version="1.0" encoding="UTF-8"?>

<configuration xmlns="logback"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<substitutionProperty name="logbase" value="C:\\Dev\\log\\" />
	<jmxConfigurator />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{100} - %msg%n</pattern>
		</layout>
	</appender>
	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${logbase}office.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logbase}.%d{yyyy-MM-dd}_office.log.zip
			</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>64MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] - %5p - %m%n</pattern>
		</layout>
	</appender>

	<root level="info">
		<appender-ref ref="stdout" />
	</root>

	<root level="info">
		<appender-ref ref="logfile" />
	</root>

	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="logfile" />
	</logger>

	<logger name="com.glad" additivity="false">
		<level value="trace" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</logger>
</configuration>